<%= form_for(@register) do |f| %>
  <% if @register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% @register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@register, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :name %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control", placeholder: "Place full name here", autofocus: true %>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :email %>
      </div>
      <div class="col-sm-8">
        <%= f.email_field :email, rows: 10, class: "form-control", placeholder: "Place email here" %>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :phone %>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :phone , class: "form-control", placeholder: "Place phone number here" %>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :description %>
      </div>
      <div class="col-sm-8">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Describe why this course is best fit for you" %>
      </div>
    </div><br><br>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit "submit registration", class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>

