<div class="centre jumbotron">
    <h1>College</h1>
  <%= link_to "Sign up now", " signup", class:"btn btn-primary btn-lg btn-xlarge" %>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "surveypic.png", class: 'height = 100px' %>
      <div class="caption">

        <p>...</p>
        <%= link_to 'Take Survey', new_survey_path, class: 'btn btn-primary btn-lg' %>

      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "course.jpe", class: 'height = 180px' %>
      <div class="caption">

        <p>...</p>
        <%= link_to 'Courses', courses_url, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>


  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "student.jpe", class: 'height = 180px' %>
      <div class="caption">

        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
      </div>
    </div>
  </div>

</div>
