<div class="container">
    <footer class="footer">
        <ul>
            <%= link_to 'Students', students_url %> | 
            <%= link_to "Courses", courses_url %> | 
            <%= link_to "home", root_path %> | 
            <%= link_to "about", about_path %> | 
            <%= link_to "contact us", contact_url %> | 
        </ul>
    </footer>
</div>
